.productDetailContainer {
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    
}
.productName {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 1rem;
    font-family: 'Licorice', cursive;
    text-align: left;
}
.productContent {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 1rem;
}
.productImage {
    width: 450px;
    height: 400px;
    border-radius: 8px;
    object-fit: cover;
    flex-shrink: 0;
}
.descStyle {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    max-width: 660px;
    height: 400px;
}
.price{
    font-size: 24px;
    font-weight: 400;
    color: #1E1E1E;
    margin-bottom: 0.1rem;
}
.description {
    font-size: 16px;
    line-height: 1.5;
    color: #1E1E1E;
}
.buttonStyle {
    width: 350px;
    padding: 12px 24px;
    font-size: 18px;
    font-family: 'Inika', serif;
    color: #fff;
    background-color: #1E1E1E;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 0;
     transition: all 0.25s ease;

  &:hover {
    background: #302626;
    transform: translateY(-2px);
  }
}
.roastCircles {
    display: inline-flex;
    gap: 4px;
    margin-left: 5px;
  }
  
  .roastCircle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

 

@media (max-width: 768px) {
    .productName {
        font-size: 48px; 
        text-align: center;
    }
    .productContent {
        flex-direction: column; 
        align-items: center;
    }
    .productImage {
        width: 100%; 
        max-width: 400px; 
        height: auto; 
    }
    .descStyle {
        align-items: center;
        text-align: center;
        max-width: 100%; 
    }
    .price, .description {
        font-size: 16px; 
    }
    .buttonStyle {
        width: 250px;
        height: 40px;
    &:hover{
        background-color: #cfcece;
    }
    }
}