.checkoutContainer {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Inspiration', cursive;
    color: black;
    background-color: #EFEFEF;
  }
  .title {
    font-size: 128px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Licorice', cursive;
    font-weight: 400;
  }
  .checkoutContent {
    display: flex;
    gap: 40px;
  }
  .userInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    label {
        display: block;
        font-size: 20px;
        margin-bottom: 0.5rem;
        font-family: 'Inika';
    }
    input {
        width: 380px;
        padding: 1rem;
        font-size: 16px;
        border: 1px solid #1f1f1f;
        border-radius: 4px;
    }
  }
  .order {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    .orderTotal{
      margin-top: -2rem;
    }
    .orderItem, .orderTotal {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      border-bottom: 1px solid #000;
      padding-bottom: 10px;
    }
    .orderTotal {
      font-weight: bold;
      border: none;
    }
  }
  .shippingOptions {
    width: 550px;
    height: 250px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h4 {
      margin-bottom: 10px;
      font-size: 22px;
      font-family: 'Inika';
      font-weight: 400;
      text-align: center;

    }
   label {
      display: flex;
      align-items: center;
      font-family: 'Inika';
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 2rem;
      margin-top: 1rem;
      padding-left: 30px;
      input[type="radio"] {
        width: 25px;
        height: 25px;
        accent-color: black;
      }
      .firstInput{
        margin-left: 19.8rem;
      }
      .secondInput{
        margin-left: 15rem;
    }
    }
  } 
  .payNowButton {
    width: 250px;
    margin-top: 20px;
    padding: 20px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px;
    text-align: center;
   margin-left: 20rem;
   margin-top: 4rem;
   &:hover{
    background-color:#f92424;
   }
  }
  

  @media (max-width: 768px) {
    .checkoutContainer{
      .title {
        font-size: 60px;
    }
    label{
      font-size: 16px;
    }
    input{
      padding: 0.5rem;
    }
    .checkoutContent {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        
    }
    .userInfo input {
        width: 100%; 
        max-width: 100%;
    }
    .shippingOptions {
        width: 350px;
        padding: 20px;
        .firstInput{
          margin-left: 15.6rem;
          width: 18px;
          height: 18px;
        }
    }
    .payNowButton {
      //width: 50%; 
      padding: 22px 15px;
      padding-top: 10px;
      font-size: 16px;
      margin-left: 0.2rem;
      margin-top: 1rem;
  }
    }
    }
   
